

#variable name. This variable should store the name Joe. 
#Then, using ERB tags, say "Goodbye Joe" in an h1 tag. 

<!DOCTYPE html>
<head></head>

<body>
<html>
<%= name = "Joe" %>  
<h1><%= "Goodbye" + "Joe" %></h1>
</html>
</body>


#<% name = 'Joe' %>

#<h1>Goodbye <%= name%></h1>
